body {
	background: var(--colorBlue);
}

.intro {
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: url("../../img/index/intro-background.jpg");
		background-size: cover;
		opacity: 0.3;
	}
}

.circle {
	position: relative;
	z-index: 5;
	border: 5px solid var(--colorYellow);
	width: 35vw;
	height: 35vw;
	margin: 0 auto;
	border-radius: 50%;
	padding: 2%;

	&:before {
		content: '';
		position: absolute;
		z-index: 3;
		top: 5%;
		left: 5%;
		bottom: 5%;
		right: 5%;
		border: 5px solid var(--colorYellow);
		border-radius: 50%;
	}
}

.circle__decoration {
	position: absolute;
	border: 5px solid transparent;
	border-radius: 50%;
	border-bottom-color: var(--colorYellow);
	background:
		radial-gradient(farthest-side, var(--colorYellow) 100%, transparent) left 14.65% bottom 14.7%,
		radial-gradient(farthest-side, var(--colorYellow) 100%, transparent) right 14.65% bottom 14.7%;
	background-size: 5px 5px;
	background-origin: border-box;
	background-repeat: no-repeat;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	&:nth-child(1) {
		animation-name: circleRotation1;
		animation-duration: 90000ms;
		top: -5%;
		left: -5%;
		bottom: -5%;
		right: -5%;
	}

	&:nth-child(2) {
		animation-name: circleRotation2;
		animation-duration: 70000ms;
		top: -7%;
		left: -7%;
		bottom: -7%;
		right: -7%;
	}

	&:nth-child(3) {
		animation-name: circleRotation3;
		animation-duration: 40000ms;
		top: -9%;
		left: -9%;
		bottom: -9%;
		right: -9%;
	}
}

.circle__select {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: transform 1000ms;

	&:before {
		content: '';
		position: absolute;
		width: 5px;
		height: 6%;
		background: var(--colorYellow);
		left: 37%;
		top: 1.4%;
		transform: rotate(-15deg);
	}

	&:after {
		content: '';
		position: absolute;
		width: 5px;
		height: 6%;
		background: var(--colorYellow);
		right: 37%;
		top: 1.4%;
		transform: rotate(15deg);
	}
}


@keyframes circleRotation1 {
	from {
		transform: rotate(100deg);
	}

	to {
		transform: rotate(460deg);
	}
}

@keyframes circleRotation2 {
	from {
		transform: rotate(-200deg);
	}

	to {
		transform: rotate(-560deg);
	}
}

@keyframes circleRotation3 {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

.intro__signs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.intro__item {
	position: absolute;
	width: 20%;
	cursor: pointer;

	&:nth-child(1) {
		left: 50%;
		transform: translateX(-50%);
	}

	&:nth-child(2) {
		top: 6.5%;
		left: 74%;
		transform: translateX(-50%) rotate(-330deg);
	}

	&:nth-child(3) {
		top: 24%;
		left: 91%;
		transform: translateX(-50%) rotate(-300deg);
	}

	&:nth-child(4) {
		top: 48%;
		left: 97.5%;
		transform: translateX(-50%) rotate(-270deg);
	}

	&:nth-child(5) {
		top: 71.5%;
		left: 91.5%;
		transform: translateX(-50%) rotate(-240deg);
	}

	&:nth-child(6) {
		top: 89%;
		left: 74%;
		transform: translateX(-50%) rotate(-210deg);
	}

	&:nth-child(7) {
		top: 95.5%;
		left: 50%;
		transform: translateX(-50%) rotate(-180deg);
	}

	&:nth-child(8) {
		top: 89%;
		left: 26%;
		transform: translateX(-50%) rotate(-150deg);
	}

	&:nth-child(9) {
		top: 71.5%;
		left: 8.5%;
		transform: translateX(-50%) rotate(-120deg);

		.intro__sign {
			transform: translateY(10%);
			padding: 2px;
		}
	}

	&:nth-child(10) {
		top: 48%;
		left: 3%;
		transform: translateX(-50%) rotate(-90deg);

		.intro__sign {
			transform: translateY(-15%);
		}
	}

	&:nth-child(11) {
		top: 24.5%;
		left: 9%;
		transform: translateX(-50%) rotate(-60deg);
	}

	&:nth-child(12) {
		top: 6.5%;
		left: 26%;
		transform: translateX(-50%) rotate(-30deg);
	}
}

.intro__sign {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	stroke: none;
	fill: var(--colorWhite);
}

.intro__data {
	position: relative;
	display: flex;
	z-index: 3;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 0 3%;
}

.title-circle {
	font-weight: 600;
	text-align: center;
	color: var(--colorYellow);
	margin-bottom: 15px;
}

.text-circle {
	text-align: center;
	margin-bottom: 15px;
	font-size: 1rem;
	font-weight: 500;
}

.btn-circle {
	position: relative;
	padding: 10px 30px;
	color: inherit;
	border-radius: 0;
	overflow: hidden;
	border: 3px solid var(--colorYellow);
	transition: 500ms cubic-bezier(.165, .84, .44, 1);

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 0;
		z-index: -1;
		background: var(--colorYellow);
		transition: 500ms cubic-bezier(.165, .84, .44, 1);
	}

	&:hover {
		border: 3px solid var(--colorYellow);

		&:before {
			bottom: 0;
			top: auto;
			height: 100%;
		}
	}
}

.zodiac {
	position: absolute;
	color: var(--colorWhite);
	width: 300px;
	padding: 20px;

	&:nth-child(1) {
		right: 7%;
		top: 5%;
	}

	&:nth-child(2) {
		right: 5%;
		top: 20%;
	}

	&:nth-child(3) {
		right: 13%;
		top: 30%;
	}

	&:nth-child(4) {
		right: 2%;
		top: 45%;
	}

	&:nth-child(5) {
		right: 15%;
		top: 50%;
	}

	&:nth-child(6) {
		right: 5%;
		top: 65%;
	}

	&:nth-child(7) {
		left: 3%;
		top: 65%;
	}

	&:nth-child(8) {
		left: 15%;
		top: 60%;
	}

	&:nth-child(9) {
		left: 2%;
		top: 45%;
	}

	&:nth-child(10) {
		left: 13%;
		top: 30%;
	}

	&:nth-child(11) {
		left: 5%;
		top: 20%;
	}

	&:nth-child(12) {
		left: 10%;
		top: 5%;
	}
}

.zodiac--active {
	.zodiac__stars {
		opacity: 1;
	}

	.zodiac__data {
		transform: translateY(0);
		opacity: 1;
	}
}

.zodiac__stars {
	width: 100%;
	height: 120px;
	fill: none;
	overflow: hidden;
	opacity: 0.1;
	transition: opacity 700ms;
	margin-bottom: 10px;
}

.zodiac__data {
	opacity: 0;
	transform: translateY(-50%);
	transition: opacity 700ms, transform 700ms;
}

.title-zodiac {
	font-style: var(--fontLora);
	font-size: 24px;
	text-align: center;
	color: var(--colorYellow);
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.text-zodiac {
	font-style: var(--fontRoboto);
	font-style: italic;
	text-align: center;
}

.about {
	background: var(--colorBlueLight);
}

.about__inner {
	display: flex;
}

.about__col {

	&:nth-child(1) {
		flex: 0 0 40%;
		position: relative;
		overflow: hidden;
	}

	&:nth-child(2) {
		flex: 0 0 60%;
		padding: 140px 10%;
		text-align: center;
	}
}

.about__img {
	position: absolute;
	height: 100%;
	border-radius: 0 0 70%/100% 0;
	overflow: hidden;

	img {
		object-fit: cover;
		object-position: 0 10%;
		height: 100%;
	}
}

.about__data {
	position: relative;
	padding: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.frame__item-about {
	position: absolute;
	width: 30px;
	height: 30px;
	background: var(--colorYellow);
	animation-name: frameLevitate;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;

	--decorationSize: 150px;
	--decorationOffest: -2vw;
	--decorationShapeVertical: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
	--decorationShapeHorisontal: polygon(0 0, 100% 0, 83% 51%, 100% 100%, 0 100%);

	&:nth-child(1) {
		left: var(--decorationOffest);
		top: var(--decorationOffest);

		&:before {
			content: '';
			position: absolute;
			clip-path: var(--decorationShapeVertical);
			background: inherit;
			top: 0;
			left: 0;
			right: 0;
			height: var(--decorationSize);
		}

		&:after {
			content: '';
			position: absolute;
			clip-path: var(--decorationShapeHorisontal);
			background: inherit;
			top: 0;
			left: 0;
			bottom: 0;
			width: var(--decorationSize);
		}
	}

	&:nth-child(2) {
		right: var(--decorationOffest);
		top: var(--decorationOffest);

		&:before {
			content: '';
			position: absolute;
			clip-path: var(--decorationShapeHorisontal);
			background: inherit;
			top: 0;
			right: 0;
			bottom: 0;
			width: var(--decorationSize);
			transform: rotate(180deg);
		}

		&:after {
			content: '';
			position: absolute;
			clip-path: var(--decorationShapeVertical);
			background: inherit;
			top: 0;
			left: 0;
			right: 0;
			height: var(--decorationSize);
		}
	}

	&:nth-child(3) {
		left: var(--decorationOffest);
		bottom: var(--decorationOffest);

		&:before {
			content: '';
			position: absolute;
			clip-path: var(--decorationShapeVertical);
			background: inherit;
			bottom: 0;
			left: 0;
			right: 0;
			height: var(--decorationSize);
			transform: rotate(180deg);
		}

		&:after {
			content: '';
			position: absolute;
			clip-path: var(--decorationShapeHorisontal);
			background: inherit;
			top: 0;
			left: 0;
			bottom: 0;
			width: var(--decorationSize);
		}
	}

	&:nth-child(4) {
		right: var(--decorationOffest);
		bottom: var(--decorationOffest);

		&:before {
			content: '';
			position: absolute;
			clip-path: var(--decorationShapeVertical);
			background: inherit;
			bottom: 0;
			left: 0;
			right: 0;
			height: var(--decorationSize);
			transform: rotate(180deg);
		}

		&:after {
			content: '';
			position: absolute;
			clip-path: var(--decorationShapeHorisontal);
			background: inherit;
			top: 0;
			right: 0;
			bottom: 0;
			width: var(--decorationSize);
			transform: rotate(180deg);
		}
	}
}

@keyframes frameLevitate {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(20%);
	}
}

.frame__rombus-about {
	position: absolute;
	background: var(--colorYellow);

	&:nth-child(5) {
		right: 50%;
		top: -2vw;
		height: 30px;
		width: 90px;
		transform: translateX(50%);
		animation-name: frameLevitateRombusHorisontal;
		animation-duration: 2000ms;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;

		&:before {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-right: 22px solid var(--colorYellow);
			transform: translateX(-100%);
			top: 0;
			left: 0;
		}

		&:after {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-left: 22px solid var(--colorYellow);
			transform: translateX(100%);
			bottom: 0;
			right: 0;
		}
	}

	&:nth-child(6) {
		top: 50%;
		right: -2vw;
		width: 30px;
		height: 90px;
		transform: translateY(-50%);
		animation-name: frameLevitateRombusVertical;
		animation-duration: 2000ms;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;

		&:before {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-bottom: 22px solid var(--colorYellow);
			transform: translateY(-100%);
			top: 0;
			left: 0;
		}

		&:after {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-top: 22px solid var(--colorYellow);
			transform: translateY(100%);
			bottom: 0;
			left: 0;
		}
	}

	&:nth-child(7) {
		right: 50%;
		bottom: -2vw;
		height: 30px;
		width: 90px;
		transform: translateX(50%);
		animation-name: frameLevitateRombusHorisontal;
		animation-duration: 2000ms;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;

		&:before {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-right: 22px solid var(--colorYellow);
			transform: translateX(-100%);
			top: 0;
			left: 0;
		}

		&:after {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-left: 22px solid var(--colorYellow);
			transform: translateX(100%);
			bottom: 0;
			right: 0;
		}
	}

	&:nth-child(8) {
		top: 50%;
		left: -2vw;
		width: 30px;
		height: 90px;
		transform: translateY(-50%);
		animation-name: frameLevitateRombusVertical;
		animation-duration: 2000ms;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;

		&:before {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-bottom: 22px solid var(--colorYellow);
			transform: translateY(-100%);
			top: 0;
			left: 0;
		}

		&:after {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-top: 22px solid var(--colorYellow);
			transform: translateY(100%);
			bottom: 0;
			left: 0;
		}
	}
}

@keyframes frameLevitateRombusVertical {
	from {
		transform: translateY(-65%);
	}

	to {
		transform: translateY(-35%);
	}
}

@keyframes frameLevitateRombusHorisontal {
	from {
		transform: translate(50%, -40%);
	}

	to {
		transform: translate(50%, 60%);
	}
}

.title-about {
	font-size: 2.5rem;
	color: var(--colorYellow);
	margin-bottom: 40px;
}

.text-about {
	font-size: 1rem;
	letter-spacing: 0.03rem;
}