html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--fontRoboto);
	color: #ffffff;
	background-color: var(--colorBlack);
}

img {
	display: block;
	width: 100%;
}

svg {
	width: 100%;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

textarea {
	resize: none;
}

h1,
h2,
h3,
h4,
h5 {
	color: inherit;
}

ul {
	list-style: none;
}