.title {
	font-size: 2.5rem;
	font-style: var(--fontLora);
	color: var(--colorYellow);
}

.bigText {
	font-size: 18px;
}

.text {
	font-size: 14px;
	line-height: 22px;
}

.container {
	width: 1320px;
	margin: 0 auto;
}